/* p-about
--------------------------- */
@use "./../../foundation/system" as s;

.p-about {
	&__content {
		height: 50vh;
		width: 100vw;
		margin: 0 calc(50% - 50vw);
		padding: 10px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df);
		background-size: cover;
		background-position: center;

		position: relative;
		z-index: 0;
		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			/* 輪郭がぼやけてしまうのでブラー範囲を広げる */
			top: 0;
			bottom: 0;
			left: -5px;
			right: -5px;
			background-color: rgba($color: s.$c-body, $alpha: 0.6);
		}

		p {
			max-width: 1220px;
			color: s.$c-base;
		}
	}

	@include s.breakpoint(tablet) {
	}
	@include s.breakpoint(pc) {
	}
}
