/* p-fv
--------------------------- */
@use "./../../foundation/system" as s;

.p-fv {
	height: 88vh;
	background: url(https://images.unsplash.com/photo-1604328698692-f76ea9498e76);
	background-size: cover;
	background-position: center;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	z-index: 0;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		/* 輪郭がぼやけてしまうのでブラー範囲を広げる */
		top: 0;
		bottom: 0;
		left: -5px;
		right: -5px;
		background-color: rgba($color: s.$c-base-sub, $alpha: 0.8);
	}

	&__title {
		font-size: 8rem;
		font-weight: bold;
		@include s.garamond(bold);
	}
	&__lead {
		font-size: 2rem;
	}

	@include s.breakpoint(tablet) {
	}
	@include s.breakpoint(pc) {
	}
}
