/* c-button
--------------------------- */
@use "./../../foundation/system" as s;

.c-button {
	display: inline-block;
	padding: 14px 56px;
	font-size: 1.8rem;
	font-weight: bold;
	color: s.$c-base;
	background-color: s.$c-accent;
	border: solid 1px s.$c-accent;
	border-radius: 50px;
	&:after {
		display: none;
	}
	&:hover {
		color: s.$c-accent;
		background-color: transparent;
	}

	&Block {
		max-width: 1220px;
		margin: 0 auto;
		text-align: center;
	}

	@include s.breakpoint(tablet) {
	}
	@include s.breakpoint(pc) {
	}
}
