/* root */
:root {
	--text-color: #333;
	--header-height: 60px;
}
/* font-family */
.page {
	font-family: YuGothic, "Yu Gothic", "Helvetica Neue", Arial,
		"Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

/* headerのスタイリング */
.page-_top .header {
	background-color: transparent;
}
.header {
	background-color: #efefef;
}
.page-_top {
	padding-top: 0;
}

/* 最大幅と余白の調整 */
.header__contentsWrapper,
.container {
	max-width: 1000px;
	min-width: 0;
	padding: 0px 18px;
}

/* header */
.headerBreadcrumb,
.header__btn {
	font-size: 20px;
}

/* TOPページのスタイリング */
/* Notion全体の幅調整 */
.page-_top .container {
	max-width: none;
	padding: 0;
}
/* TOPページのタイトル */
.page-_top .coverImage,
.page-_top .titleSection {
	display: none;
}

/* Notion全体の調整 */
.page-_top .contents.no-icon {
	padding-top: 0;
}
/* footer近くの余計な余白を消す */
.page-_top .contentsFooterSection {
	display: none;
}

/* section */
.p-service,
.p-about,
.p-contact {
	background-color: #efefef;
}
.p-news,
.p-blog {
	background-color: #fff;
}

/* Notion埋め込みセクションの中身の中央寄せ */
.page-_top .notion-collection {
	max-width: 1000px;
	min-width: 0;
	padding: 0px 18px;
	margin: 0 auto;
}
/* Notion埋め込みアイコン非表示 */
.notion-page-title-icon {
	display: none;
}
/* Notion埋め込みテーブルタイトル・線削除 */
.notion-table-header,
.notion-table-header-placeholder {
	display: none;
}
/* tableのセンタリング */
.notion-table-row {
	justify-content: center;
}
/* 作成日時の時間非表示 */
.notion-property-created-time {
	display: none;
}

/* Notion埋め込みセクションの下余白調整 */
.p-news.c-section,
.p-blog.c-section {
	padding-bottom: 0;
}
/* Notion埋め込みセクションの余白調整 */
.c-button {
	margin-top: 32px;
	margin-bottom: 120px;
}
.p-contact .c-button {
	margin: 0;
}
/* NEWSセクションの記事一覧タイトル非表示 */
.page-_top #block-c2a4ed27b19d4390814c0cfb28b5a456 .notion-collection-header {
	display: none;
}

/* TOP非表示エリア非表示 */
#section-block-0629a1d9d8314f509e78415e875ded8f {
	display: none;
}

/* 共通要素 */
/* notionの最低限の高さ設定 */
.notion {
	min-height: 92vh;
}

/* タイトル */
.page-about .title,
.page-news .title,
.page-blog .title,
.page-contact .title {
	-webkit-text-stroke: 2px #999;
	text-shadow: 3px 4px 0 #6997c5;
	color: rgba(153, 153, 153, 0);
	font-size: 6.4rem;
	font-family: "Cormorant Garamond", serif;
}

/* footerのパンくずリスト設定 */
.contentsFooterSection {
	margin: 40px 0 72px;
}
